@charset "UTF-8";

@media screen and (min-width: 900px){
    body{
        background-image: url(../images/bg-desktop.svg);
    }

    header{
        margin-bottom: 5rem;
        padding: 5rem 1rem 1rem 6rem;
    }

    header > img{
        width: 15%;
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }

    section{
        height: 43vh;
    }

    #imagem{
        padding: 3rem 6rem;
    }

    #imagem > img{
        width: 50vw;
    }
    
    #info{
        padding: 8rem 6em 0rem 0rem;
        text-align: left;
    }

    #info > h1{
        font-size: 3.5rem;
    }

    #info > p{
        font-size: 1.9rem;
    }

    section > img{
        width: 50vw;
    }

    #button{
        text-align: center;
        height: 6rem;   
        line-height: 4rem;
    }

    #social-media-icons{
        grid-area: 2/2/3/3;
    }

    footer{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../images/bg-desktop.svg);
    }

    header{
        margin-bottom: 5rem;
        padding: 5rem 1rem 1rem 6rem;
    }

    header > img{
        width: 15%;
    }

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }

    section{
        height: 43vh;
    }

    #imagem{
        padding: 3rem 6rem;
    }

    #imagem > img{
        width: 50vw;
    }
    
    #info{
        padding: 8rem 6em 0rem 0rem;
        text-align: left;
    }

    #info > h1{
        font-size: 4rem;
    }

    #info > p{
        font-size: 1.9rem;
    }

    section > img{
        width: 50vw;
    }

    #button{
        text-align: center;
        height: 6rem;   
        line-height: 4rem;
    }

    #social-media-icons{
        grid-area: 2/2/3/3;
    }

    footer{
        font-size: 2rem;
    }
}