@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --Purple-700: hsl(257, 40%, 49%);
    --Magenta-400: hsl(300, 69%, 71%);

    --fonte-destaque: 'Poppins', sans-serif;
    --fonte-corpo: 'Open Sans', sans-serif;
    --tamanho-titulo: 2.4rem;
    --tamanho-parágrafo: 1.6rem;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--Purple-700);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

header{
    width: 100%;
    padding: 3rem;
}

header > img{
    width: 40%;
}

main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section{
    padding: 3rem;
    color: white;
    text-align: center;
    
}

#imagem > img{
    width: 80vw;
}

#info > h1{
    font-family: var(--fonte-destaque);
    font-size: var(--tamanho-titulo);
}

#info > p{
    font-family: var(--fonte-corpo);
    font-size: var(--tamanho-parágrafo);
    padding: 1rem 0rem;
    margin: 1rem 0rem;
}

#button{
    display: flex;
    justify-content: center;
}

#button a{
    background-color: white;
    color: var(--Purple-700);
    font-size: 2rem;
    border-radius: 3rem;
    width: 20rem;
    height: 5rem;
    font-family: var(--fonte-destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 .8rem 2rem rgba(0, 0, 0, 0.2);
}

#button a:hover{
    background-color: var(--Magenta-400);
    color: white;
}

#social-media-icons{
    display: flex;
    gap: 2rem;
    justify-content: right;
    align-items: flex-end;
    padding-bottom: 3rem;
}

#social-media-icons a{
    color: white;
    font-size: 2.4rem;
    border: 1px solid white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#social-media-icons a:hover{
    color: var(--Magenta-400);
    border-color: var(--Magenta-400);
}